@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 340 27.5% 63.5%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 47 88.2% 44.1%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 340 27.5% 63.5%;
    --radius: 0.5rem;
    --chart-1: 340 27.5% 63.5%;
    --chart-2: 47 88.2% 44.1%;
    --chart-3: 240 5% 65%;
    --chart-4: 180 5% 60%;
    --chart-5: 300 50% 60%;
    --sidebar-background: 0 0% 15%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 340 27.5% 63.5%;
    --sidebar-primary-foreground: 0 0% 10%;
    --sidebar-accent: 0 0% 25%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 0 0% 25%;
    --sidebar-ring: 340 27.5% 63.5%;
  }

  .dark {
    --background: 0 0% 13.3%;
    --foreground: 0 0% 98%;
    --card: 0 0% 15%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 13.3%;
    --popover-foreground: 0 0% 98%;
    --primary: 340 27.5% 63.5%;
    --primary-foreground: 0 0% 10%;
    --secondary: 0 0% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 20%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 47 88.2% 44.1%;
    --accent-foreground: 0 0% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 340 27.5% 63.5%;
    --chart-1: 340 27.5% 63.5%;
    --chart-2: 47 88.2% 44.1%;
    --chart-3: 240 5% 65%;
    --chart-4: 180 5% 60%;
    --chart-5: 300 50% 60%;
    --sidebar-background: 0 0% 15%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 340 27.5% 63.5%;
    --sidebar-primary-foreground: 0 0% 10%;
    --sidebar-accent: 0 0% 25%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 0 0% 25%;
    --sidebar-ring: 340 27.5% 63.5%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}